//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap&subset=cyrillic-ext');

//mixins=============================================================================
@mixin flexbox() {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex;display: flex; font-size: 0;}

$fontfamily: 'Montserrat', sans-serif;
//$minwidth: px;
$mw: 1046px;//max size of container
//GRID=================================================================================
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;

//colors==============================================================================
$textClr: #252B42;
$textClr2: #737373;
$btnOrange: #FF7B47;
$bgElement: #0D5C63;

//scss================================================================================
@import "_header";
@import "_content";
@import "_footer";


*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	//min-width: $minwidth;
	font-family: $fontfamily;
	color: $textClr;
	font-weight: 500;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

//INPUT===============================================================================
input[type=text], input[type=email], input[type=tel],textarea{-webkit-appearance: none;-moz-appearance:none;appearance:none;}
.input{
	background-repeat: 0 !important;
	width: 100%;
	display: block;
	&.focus{}
}
textarea.input{
	resize:none;
	padding: 0px 0px;
}
//WRAPPER=============================================================================
.wrapper{
	min-height: 100%;
	overflow: hidden;
	margin: 0 auto;
	//for footer
	@include flexbox();
	flex-direction: column;
}

//my GRID=============================================================================
.container{max-width: 1066px; margin: 0 auto;width: 100%;padding: 0 10px;
	@media (max-width: $md1+px){max-width: 970px;}
	@media (max-width: $md2+px){max-width: 750px;}
	@media (max-width: $md3+px){max-width: none;padding: 0 10px;}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


